
/*
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: italic;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
font-style: normal;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
font-style: italic;

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: normal;

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: italic;

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 700;
font-style: normal;

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 700;
font-style: italic;
*/

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	color: #333333;
}

header {
	margin-top: 1rem;
}

main { 
	margin-top: 4rem;
}
h1, h2, h3, h4, h5, h6 {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
}


h1 {
	font-size: 3rem;
}

h2 {
font-weight: 400;
font-size: 1.5rem;
}

p {
	max-width: 40rem;
}

#logo {
	font-size: 3.25rem;
	margin-right: 1rem;
}

legend,
.txt-alert {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
}

#container {
	margin: auto;
	width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
}

#customer-form,
#submitted-list {
	border: 1px solid #333333;
	margin-top: 2rem;
	padding: 4rem;
	border-radius: 0.5rem;
	background-color: rgba(255,255,255,0.75);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label {
font-weight: 700;
	display: block;
	margin-top: 2rem;
    margin-bottom: 0.5rem;
}

span.label {
font-weight: 700;
}



input {
	width: 100%;
	max-width: 25rem;
}

textarea {
	width: 100%;
}


#btn-submit,
#btn-back {
width: 8rem;
margin: auto;	
}


#color {
	margin-bottom: 2rem;
}


#customer-form-list-sub {
  display: flex;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}


#customer-form-list-sub li {
  flex: 100%;
  max-width: 100%;
}

#customer-form-list-sub label {
	display: inline-flex;
	width: 3.5rem;
	margin: 0;	
}


#customer-form-list-sub input {
	display: inline-flex;
    width: 1rem;
}

#submitted-list li {
	margin-top: 0.25rem;
}


